@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap);

.wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
}

.title_container {
  height: 5vh;
  width: 70vw;
  margin-left: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_title {
  text-align: center;
  margin: 0 auto;
  font-size: 10vw;
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  display: inline;
}

.cursorSize {
  font-size: 9vw;
  animation: blinkTextCursor 1000ms ease-in-out alternate infinite;
}

@keyframes blinkTextCursor {
  from {
    color: #003057;
  }
  to {
    color: transparent;
  }
}

.home_detail {
  width: 80vw;
  margin-left: 10vw;
  font-size: large;
  font-family: "Montserrat";
  font-weight: bold;
}

#logo {
  display: flex;
  justify-content: center;
}

img {
  margin-top: 5vh;
  width: 5vh;
  height: 5vh;
}

.list_container {
  margin-left: 5vw;
  width: 90vw;
}

.list_title {
  width: 90vw;
  border: none;
  border-bottom: black;
  text-align: left;
  font-size: 7vw;
  border-bottom: 2px solid black;
  font-family: "Montserrat";
  font-weight: bold;
  color: black;
  margin-bottom: 0;
}

.list-group {
  margin-top: 0;
  list-style-position: outside;
}

.list-group-item {
  font-family: "Montserrat";
  font-weight: bold;
}

body {
  background-color: #eaa000;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  z-index: -1;
  opacity: 0.1;
}

.download_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.download_button {
  margin-top: 0;
  width: 40vw;
  height: 5vh;
}

.copyright_container {
  height: 8vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyright_text {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 0;
}

.link {
  margin-top: 0;
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

#newPasswordContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

#title {
  width: 150px;
  text-align: right;
  padding-right: 10px;
}

input {
  width: 150px;
  height: 20px;
  text-align: left;
  padding-left: 10px;
}

#button {
  text-align: center;
  margin: auto;
  display: block;
}

#validationContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20px;
  width: 400px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}
