@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap);

#logo {
  display: flex;
  justify-content: center;
}

img {
  margin-top: 5vh;
  width: 5vh;
  height: 5vh;
}

.title_container {
  height: min(100px, 5vh);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home_title {
  text-align: center;
  margin: 0 auto;
  font-size: min(5em, 10vw);
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  display: inline;
}

.cursorSize {
  font-size: min(5em, 9vw);
  animation: blinkTextCursor 1000ms ease-in-out alternate infinite;
}

@keyframes blinkTextCursor {
  from {
    color: #003057;
  }
  to {
    color: transparent;
  }
}

.home_detail {
  width: min(500px, 80vw);
  margin-inline: auto;
  font-size: large;
  font-family: "Montserrat";
  font-weight: bold;
}

.download_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: min(500px, 90vw);
  margin-inline: auto;
}

.download_button {
  margin-top: 0;
  width: min(200px, 40vw);
  height: min(100px, 5vh);
}

.list_title {
  margin-inline: auto;
  width: min(500px, 90vw);
  border: none;
  border-bottom: black;
  text-align: left;
  font-size: min(2rem, 6vw);
  border-bottom: 2px solid black;
  font-family: "Montserrat";
  font-weight: bold;
  color: black;
  margin-bottom: 0;
}

.list_container {
  overflow: hidden;
}

.list-group {
  margin-inline: auto;
  width: min(500px, 90vw);
  margin-top: 0;
  list-style-position: outside;
  animation: 1.5s alternate slide-down;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.list-group-item {
  margin-inline: auto;
  width: min(450px, 80vw);
  font-family: "Montserrat";
  font-weight: bold;
}

body {
  background-color: #eaa000;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  z-index: -1;
  opacity: 0.1;
}

.copyright_container {
  height: 8vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyright_text {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 0;
}

.link {
  margin-top: 0;
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

#newPasswordContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

#title {
  width: 150px;
  text-align: right;
  padding-right: 10px;
}

input {
  width: 150px;
  height: 20px;
  text-align: left;
  padding-left: 10px;
}

#button {
  text-align: center;
  margin: auto;
  display: block;
}

#validationContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20px;
  width: 400px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}
